body {
    margin: 0;
    font-family: Arial, sans-serif;
}
.navbar {
    background-color: #333;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px ;
    color: white;
    position: fixed;
    width: 99%;
    top: 0;
    z-index: 1000;
}
.navbar a {
    color: white;
    text-decoration: none;
    padding: 10px 30px;
    border-radius: 25px;
    transition: background 0.5s, transform 0.5s;
}
.navbar a:hover {
    background-color: #575757;
    transform: scale(1.1);
}
.menu {
    display: inline-block;
}
.menu-icon {
    padding-left: 8px;
    font-size: 24px;
    cursor: pointer;
}
.sidebar {
    height: 100%;
    width: 250px;
    position: fixed;
    top: 0;
    left: -250px;
    background-color: #111;
    transition: transform 0.4s ease-in-out;
    padding-top: 60px;
    z-index: 1100;
}
.sidebar a {
    padding: 12px 20px;
    text-decoration: none;
    font-size: 18px;
    color: white;
    display: block;
    transition: background 0.3s, padding-left 0.3s;
}
.sidebar a:hover {
    background-color: #575757;
    padding-left: 30px;
}
.close-btn {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 24px;
    cursor: pointer;
}
.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1050;
}
.sidebar.active {
    transform: translateX(250px);
}
.overlay.active {
    display: block;
    opacity: 1;
}
.content {
    padding: 80px 20px;
}
